
<div class="AppSidebar">
    <div class="sidebar-wrapper">
        <button (click)="signOut()">Sign Out</button>
        <nav class="sidebar-nav">
            <app-conversation-list></app-conversation-list>
            <div>
                <ol>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                </ol>
            </div>
       
            <div>
                <ol>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                </ol>
            </div>
        </nav>
        <button (click)="handleNewChat()">Create New Chat</button>
    </div>
</div>