.signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
    form {
      width: 300px;
  
      .form-group {
        margin-bottom: 15px;
      }
  
      .btn {
        width: 100%;
      }
    }
  }